main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.secao-banner-sobre{
    width: 100%;
    height: 70vh;
    position: relative;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/banner-sobre.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.secao-banner-sobre h1{
    text-transform: uppercase;
    font-size: 90px;
    color: white;
    text-shadow: 3px 5px #474747;
}

.secao-texto-informativo{
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.secao-texto-informativo h2{
    font-size: 35px;
    line-height: 26px;
}

.secao-texto-informativo span{
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;
}

.secao-texto-informativo p{
    line-height: 26px;
    margin-bottom: 15px;
}

.container-secao-imagens div{
    display: flex;
  }
  
.container-secao-imagens img{
    width: 50%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px){
    .secao-banner-sobre h1{
        font-size: 60px;
    }
    .container-secao-imagens div {
        flex-direction: column;
      }
    
    .container-secao-imagens img {
        width: 100%;
    }
}

@media (max-width: 436px){
    .secao-banner-sobre h1{
        font-size: 40px;
    }
}